html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: var(--linkColor);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
	margin: 0;
	font-family: inherit;
}

h1 {
	font: var(--heading-1);
}

h2 {
	font: var(--heading-2);
}
h3 {
	font: var(--heading-3);
}

h4 {
	font: var(--heading-4);
}

h5 {
	font: var(--heading-5);
}

h6 {
	font: var(--heading-6);
}

button {
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
